DISCORD_BOT_TOKEN='YOUR_TOKEN_HERE' # https://discordapp.com/developers/applications/me
STEAM_API_KEY='YOUR_KEY_HERE' # https://steamcommunity.com/dev/apikey
SQLALCHEMY_DATABASE_URI='postgresql://postgres:postgres@db:5432/steam'
